@use "../core/ClassLets";

//
@layer ux-editor {

    //
    .ux-editor {
        @extend .pe-none;
        @extend .vp-vars-keyboard-dependent;
    
        //
        display: grid;
        position: fixed;
        overflow: hidden;
        
        //
        inset: 0px !important;
        inset-block-start: 0px;
        inset-block-end: auto;
        inset-block-end: var(--keyboard-inset-bottom, auto);
        
        //
        z-index: 99999;
        
        //
        inline-size: var(--vp-i-size, 100dvi) !important;
        block-size: var(--vp-b-size, 100dvb) !important;
        block-size: calc(var(--vp-b-size, 100dvb) - var(--keyboard-inset-height, 0px)) !important;
        
        //
        will-change: --keyboard-inset-bottom, --keyboard-inset-height, contents, inset;
        
        //
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: 
            [empty-space] minmax(0px, 1fr) 
            [field-edit] minmax(max-content, 3rem);
        
        //
        .field-content {
            @extend .pe-enable;
        
            //
            display: grid;
            box-shadow: 0px 0px 1rem 1px #00000070;

            //
            grid-template-columns: minmax(0px, 1fr) minmax(3rem, max-content) minmax(3rem, max-content);
            max-block-size: 3rem;

            //
            :where(.field-copy, .field-paste) {
                @extend .stretch;
                @extend .align-center;
                
                //
                display: flex;
                padding: 1rem !important;
                
                //
                background-color: transparent;
                background-image: none;
                
                //
                cursor: pointer;
                
                //
                // debug
                & svg {
                    stroke: white;
                }
            }

            //
            .field-wrap {
                @extend .stretch;
                
                //
                display: flex;
                flex-direction: row;
                min-block-size: 3rem;
                
                //
                background-color: transparent;
                background-image: none;
                
                //
                input {
                    @extend .stretch;
                    @extend .pe-enable;
                    
                    //
                    font-size: 1.6rem;
                    
                    //@include dFont.applyFont(1.8rem);
                
                    //
                    background-color: transparent;
                    background-image: none;
                    
                    // debug
                    color: white;
                
                    //
                    padding-inline: 1rem;
                    min-block-size: 3rem;
                    
                    //
                    user-select: auto;
                }
            }

        }
        
    }
}
