@use "../../../scss/core/ClassLets";
@use "../../../scss/grid/GridLayout";

//
@layer ux-grid {

    //
    .ux-grid-pages {
        --padding-h: 1rem;
        --padding-v: 1.5rem;
        
        //
        overflow: visible !important;
        contain: content !important;
        
        //
        padding-inline: var(--padding-h);
        padding-block: var(--padding-v);
        
        //
        @media (orientation: portrait) {
            padding-inline: var(--padding-h);
            padding-block: var(--padding-v);
        }
        
        //
        @media (orientation: landscape) {
            padding-inline: var(--padding-v);
            padding-block: var(--padding-h);
        }
    }

    //
    .ux-grid-page {
        @extend .ux-grid-layout;

        //
        filter: drop-shadow(0px 0px 0.25rem #00000060);

        //
        .ux-grid-item {
            will-change: translate, transform, --rx, --ry, --drag-x, --drag-y, --resize-x, --resize-y, --translate-x, --translate-y;
            
            //
            padding: calc(var(--icon-size) * 0.3);
            clip-path: var(--clip-path);
            border-radius: calc(var(--icon-size) * 0.5);
            
            //
            &:where([data-type="backup"]) {
                pointer-events: none;

                // override by animations...
                --translate-x: calc(var(--drag-x, 0) * 1px);
                --translate-y: calc(var(--drag-y, 0) * 1px);

                // override by animations...
                --grid-column: var(--fp-cell-x);
                --grid-row: var(--fp-cell-y);
            }
            
            //
            &:where([data-type="items"]) {
                pointer-events: auto;
                pointer-events: bounding-box;
                cursor: pointer;
            }
        }
    }

}
