/*
 * Here is very simple class-lets, for something harder use complex!
 */

//
@mixin orientation-adaptive {
    transform-origin: center center;
    writing-mode: var(--pwm);
    direction: var(--pdir);
    rotate: var(--pfrot, 0deg);
}

// bit-complex element
@mixin grid-inside {
    position: relative;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

// display: contents + pointer-events: none
// used for transparent wrappers
@mixin contents {
    container-type: normal;
    contain: none;
    display: contents;
    pointer-events: none;
    background-color: transparent;
}

//
@mixin no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    word-wrap: normal;
}

