$mobileWidth: 9in;
$isMobile: "screen and ((width < #{$mobileWidth}) or (orientation: portrait))";
$isTouch: "screen and (hover: none) and (pointer: coarse)";
$isNotWide: "(width < #{$mobileWidth})";
$isDesktop: "((hover: hover) or (pointer: fine)) and ((width >= #{$mobileWidth}) or (orientation: landscape))";
$isWindowed: "@container ux-windowed #{$isNotWide}";
