$cps: 0.00001;


@function abs($a) {
    @return unquote("abs(#{$a})");
}

@function sign($a) {
    @return unquote("sign(#{$a})");
}

@function gt($a, $b) {
    $diff: "calc(#{$b} - #{$cps} - #{$a})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function lt($a, $b) {
    $diff: "calc(#{$a} - #{$cps} - #{$b})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function ge($a, $b) {
    $diff: "calc(#{$b} + #{$cps} - #{$a})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function le($a, $b) {
    $diff: "calc(#{$a} + #{$cps} - #{$b})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function ne($a, $b) {
    $comp: "calc(#{$a} - #{$b})";
    $diff: "max(#{abs($comp)} - #{$cps}, 0)";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function eq($a, $b) {
    $diff: "calc(1 - #{ne($a, $b)})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function mix($a, $b, $i) {
    @return unquote("calc(#{$a} * #{$i} + #{$b} * calc(1 - #{$i}))");
}

@function land($a, $b) {
    $diff: "calc(#{$a} * #{$b})";
    @return unquote("max(#{sign($diff)}, 0)");
}

@function lor($a, $b) {
    $diff: "max(#{$a}, #{$b})";
    @return unquote("max(#{sign($diff)}, 0)");
}
