//@use "@scss/fonts/xo_cal;iburn" as dFont;
@use "./CMixins" as cm;

//
@layer ux-normalize {

    //
    @mixin HQRendering($importance: null) {
        -webkit-font-smoothing: subpixel-antialiased #{$importance};
        -moz-osx-font-smoothing: auto #{$importance};
        text-rendering: optimizeLegibility #{$importance};
        text-rendering: geometricPrecision #{$importance};
        font-smooth: auto #{$importance};
    }

    @mixin LQRendering($importance: null) {
        -webkit-font-smoothing: none #{$importance};
        -moz-osx-font-smoothing: grayscale#{$importance};
        text-rendering: optimizeSpeed #{$importance};
        font-smooth: 0px #{$importance};
        font-smooth: never #{$importance};
    }

    //
    html::view-transition {
        position: fixed;
        inset: 0;
    }

    //
    /*:where(div, span) {
        background-color: transparent;
    }*/

    //
    :where(html, body) {
        padding: 0px;
        margin: 0px;
        inset: 0px;
        border: none 0px transparent;
        background-color: transparent;

        //
        @include HQRendering();
        //@include dFont.applyFont(0.9rem);
    }

    :where(:root, body, html, button) {
        font-family: Calibri, Carlito, Caliburn, Seravek, 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', Candara, Segoe, "Segoe UI", Optima, source-sans-pro, sans-serif;
    }

    //
    :where(body) {
        font-size: 0.9rem;
    }

    //
    head {
        user-select: none;
        pointer-events: none;
        display: none;
    }

    //
    html {
        background-color: transparent;
        inline-size: max-content;
        block-size: max-content;
        overflow: hidden;
        position: fixed;
        display: contents;
    }

    //
    body {
        overflow: hidden;
        position: relative;

        //
        background-color: var(--theme-base-color, transparent);
        //zoom: var(--scaling, 1);

        // if needs viewport
        container-type: size;
        contain: strict;

        //
        will-change: --keyboard-inset-bottom, --keyboard-inset-height, contents, inset;

        //
        inline-size: calc(100dvi / var(--zoom, 1));
        block-size: calc(100dvb / var(--zoom, 1));
    }

    //
    :where(canvas, img, picture, video) {
        user-select: none;
        pointer-events: none;
        overflow: hidden;
    }

    //
    :where(picture) {
        display: contents;
    }

    //
    :where(*) {
        //
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;

        //
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;

        //
        box-sizing: border-box;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        box-shadow: none;

        //
        touch-action: pan-y pan-x;
    }

    // default effects
    :where(*) {
        --translate-x: 0px;
        --translate-y: 0px;
        --scale: 1;
        --opacity: 1;

        //
        will-change: filter, transform, --translate-x, --translate-y, --scale, --opacity;
        transform: translate3d(var(--translate-x, 0px), var(--translate-y, 0px), 0px) scale3d(var(--scale, 1), var(--scale, 1), 1);

        // mobile too slow
        //filter: opacity(var(--opacity, 1));
        //opacity: 1;

        opacity: var(--opacity, 1);
    }

    //
    :where(.lucide, svg) {//
        inline-size: 100%;
        block-size: 100%;

        //
        user-select: none;
        pointer-events: none;

        //
        display: inline-block;
        contain-intrinsic-width: calc(24px / var(--scaling));
        contain-intrinsic-height: calc(24px  / var(--scaling));
        contain: size;
        aspect-ratio: 1 / 1;
        position: relative;

        //
        object-fit: contain;
        object-position: center center;

        //
        inset: 0px;
        translate: 0px 0px 0px;
        visibility: visible;
        opacity: 1;

        //
        stroke: var(--current-glyph-color);
    }

    //
    :where([inert], *[inert]) {
        pointer-events: none !important;
    }

    //
    :where(canvas):is([is="w-canvas"]) {//
        inline-size: 100cqi;
        block-size: 100cqb;

        //
        pointer-events: none;
        place-content: center;
        place-items: center;
        place-self: center;

        //
        aspect-ratio: auto;
        display: flex;

        //
        image-rendering: auto;
        image-rendering: optimizeQuality;
        image-rendering: smooth;
        image-rendering: high-quality;

        //
        object-fit: cover;
        object-position: center;

        //
        background-color: var(--theme-base-color, transparent);
        border-image-source: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");

        //
        position: fixed;
        inset: 0px;
    }

    //
    @media (prefers-reduced-motion: reduce) {
        :where(*),
        ::after,
        ::before {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-delay: 0s !important;
            transition-duration: 0s !important;
        }
    }

    //
	:where(button) {
        display: flex;
        place-items: center;
        place-content: center;

        //
        color: var(--current-glyph-color);
        background-color: var(--current-surface-color);

        //
        cursor: pointer;
        pointer-events: auto;

        //
        padding: 0px;
        margin: 0px;

        //
        border: none 0px transparent;
        outline: none 0px transparent;
	}

}
