@use "@ux-ss/core/Profile" as ps;

//
@layer ux-normalize {

    //
    html::view-transition {
        position: fixed;
        inset: 0;
    }

    //
    :where(html, body) {
        //
        & {
            padding: 0px;
            margin: 0px;
            inset: 0px;
            border: none 0px transparent;
            background-color: transparent;
        }

        //
        & { @include ps.HQRendering(); };
    }

    //
    :where(:root, body, html, button) {
        font-family: Calibri, Carlito, Caliburn, Seravek, 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', Candara, Segoe, "Segoe UI", Optima, source-sans-pro, sans-serif;
        //@include dFont.applyFont(0.9rem);
    }

    //
    :where(head) {
        user-select: none;
        pointer-events: none;
        display: none;
    }

    //
    :where(html) {
        translate: 0px 0px !important;
        transform: none !important;
        margin: 0px !important;
        inset: 0px !important;

        //
        background-color: transparent;

        //
        overflow: visible;
        position: relative;
        display: grid;
        line-height: 0;
        contain: layout;
        flex-direction: column;

        //
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: minmax(0px, 0px);
        grid-auto-rows: minmax(0px, 0px);

        //
        min-inline-size: 0px;
        min-block-size: 0px;

        //
        inline-size: calc(100dvi / max(var(--zoom, 1), 0.125));
        block-size: calc(100dvb / max(var(--zoom, 1), 0.125));

        //
        max-inline-size: calc(100dvi / max(var(--zoom, 1), 0.125));
        max-block-size: calc(100dvb / max(var(--zoom, 1), 0.125));

        //
        place-content: start;
        place-items: start;
        place-self: start;

        //
        & > :where(*) {
            grid-column: 1 / 1 span;
            grid-row: 1 / 1 span;
        }
    }

    //
    :where(body) {
        @include ps.vp-vars();

        //
        & {
            translate: 0px 0px !important;
            transform: none !important;
            margin: 0px !important;

            //
            font-size: 0.9rem;

            //
            overflow: hidden;
            position: relative;
            pointer-events: auto !important;
            display: grid;
            inset: 0px;

            //
            //inset-block-end: auto;
            //inset-inline-end: auto;

            //
            place-content: center;
            place-items: center;
            place-self: center;

            //
            background-color: var(--theme-base-color, transparent);
            //zoom: var(--scaling, 1);

            // if needs viewport
            container-name: body;
            container-type: size;
            contain: content;

            //
            will-change: --keyboard-inset-bottom, --keyboard-inset-height, inset;

            //
            min-inline-size: 0px;
            min-block-size: 0px;

            //
            inline-size: calc(var(--vp-i-size, 100dvi) * 1);
            block-size: calc(var(--vp-b-size, 100dvb) * 1);

            //
            max-inline-size: 100dvi;
            max-block-size: 100dvb;

            //
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
        }

        //
        & > :where(*) {
            place-self: center;
            grid-column: 1 / 1 span;
            grid-row: 1 / 1 span;
        }
    }

    //
    :where(html > div) {
        & { all       : initial; };
        * { all       : unset  ; };
        & { z-index   : 99     ; };
        & { place-self: start  ; };
        & { overflow  : visible; }
    }

    // attempt to fix adguard button...
    // we are very ethical in case of advert...
    :where(body, html) {

        // adguard fix
        & > :where(div) {
            //
            display: flex;
            transform: none;
            place-self: start;
            place-content: start;
            place-items: start;
            text-align: start;
            inset: 0px;
            inset-inline-end: auto;
            inset-block-end: auto;
            position: fixed;
            translate: 0px 0px;
            transform-origin: center;
            contain: layout;

            //
            inline-size: 0px;
            block-size: 0px;
        }
    }

    //
    :where(.app-container) {
        //
        grid-template-columns: minmax(0px, 1fr);
        grid-template-rows: minmax(0px, 1fr);

        //
        translate: 0px 0px !important;
        transform: none !important;
        margin: 0px !important;

        //
        display: grid;
        position: relative !important;
        inset: 0px;

        //
        container-name: application !important;
        container-type: size !important;
        contain: strict !important;

        //
        place-content: center;
        place-items: center;
        place-self: center;

        //
        min-inline-size: 0px;
        min-block-size: 0px;

        //
        inline-size: 100% !important;
        block-size: 100% !important;

        //
        max-inline-size: 100% !important;
        max-block-size: 100% !important;

        //
        pointer-events: none;

        //
        //inset-block-end: auto;
        //inset-inline-end: auto;

        //
        //max-inline-size: 100dvi;
        //max-block-size: 100dvb;

        //
        & > :where(*) {
            place-self: center;
            grid-column: 1 / 1 span;
            grid-row: 1 / 1 span;
        }
    }

    //
    :where(canvas, img, picture, video) {
        user-select: none;
        pointer-events: none;
        overflow: hidden;
    }

    //
    :where(picture) {
        display: contents;
    }

    //
    :dir(rtl) :where(*), :where(*):dir(rtl) {
        direction: rtl;
    }

    //
    :dir(ltr) :where(*), :where(*):dir(ltr) {
        direction: ltr;
    }

    //
    :where(*) {
        //
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;

        //
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;

        //
        box-sizing: border-box;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        box-shadow: none;

        //
        touch-action: pan-y pan-x;
        transition-behavior: allow-discrete;

        //
        @include ps.disable-transform();

        //
        &:not(x-scrollbox) {
            // default effects
            --translate-x: 0px;
            --translate-y: 0px;
            --scale: 1;
            --opacity: 1;

            //
            will-change: --translate-x, --translate-y, --scale, --opacity;
            transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale, 1));

            // mobile too slow
            //filter: opacity(var(--opacity, 1));
            //opacity: 1;

            opacity: var(--opacity, 1);
        }
    }

    //
    :where(.lucide, svg) {

        //
        & {
            inline-size: max-content;
            block-size: 100%;

            //
            user-select: none;
            pointer-events: none;

            //
            display: flex;
            contain: size;
            aspect-ratio: 1 / 1;
            position: relative;
            will-change: auto;

            //
            object-fit: contain;
            object-position: center center;

            //
            inset: 0px;
            translate: 0px 0px 0px;
            visibility: visible;
            opacity: 1;

            //
            image-rendering: auto;
            image-rendering: optimizeQuality;
            image-rendering: smooth;
            image-rendering: high-quality;

            //
            shape-rendering: geometricPrecision;

            //
            transform: none;
            filter: none;
            backdrop-filter: none;

            //
            place-items: center;
            place-content: center;

            //
            stroke: var(--current-glyph-color);
        }

        //
        & { @include ps.HQRendering(); };

        //
        & {
            contain-intrinsic-width: 24px;
            contain-intrinsic-height: 24px;
        }

        //
        @-moz-document url-prefix() {
            & {
                contain-intrinsic-width: calc(24px / var(--zoom, 1));
                contain-intrinsic-height: calc(24px / var(--zoom, 1));
            }
        }
    }

    //
    :where([inert], *[inert]) {
        pointer-events: none !important;
    }

    //
    :where(canvas):is([is="w-canvas"]) {
        & {
            min-inline-size: 1px;
            min-block-size: 1px;

            //
            inline-size: 100%;
            block-size: 100%;

            //
            max-inline-size: 100%;
            max-block-size: 100%;

            //
            pointer-events: none !important;
            place-content: center;
            place-items: center;
            place-self: center;

            //
            aspect-ratio: auto;
            display: flex;

            //
            image-rendering: auto;
            image-rendering: optimizeQuality;
            image-rendering: smooth;
            image-rendering: high-quality;

            //
            object-fit: cover;
            object-position: center;

            //
            background-color: var(--theme-base-color, transparent);
            border-image-source: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");

            //
            position: fixed !important;
            inset: 0px !important;

        }
    }

    //
    @media (prefers-reduced-motion: reduce) {
        :where(*),
        ::after,
        ::before {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-delay: 0s !important;
            transition-duration: 0s !important;
        }
    }

    //
	:where(button) {
        display: flex;
        place-items: center;
        place-content: center;

        //
        color: var(--current-glyph-color);
        background-color: var(--current-surface-color);

        //
        cursor: pointer;
        pointer-events: auto;

        //
        padding: 0px;
        margin: 0px;

        //
        border: none 0px transparent;
        outline: none 0px transparent;

        //
        line-height: 0px;
	}

    //
    :where(a, span) {
        text-decoration: none;
        background-color: transparent;
        place-content: center;
        place-items: center;
        justify-content: start;
    }


    // PART II.
    :where(div, label) {
        display: inline flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;

        //
        min-inline-size: 0px;
        min-block-size: 0px;
        inline-size: max-content;
        block-size: max-content;
        max-inline-size: none;
        max-block-size: none;

        //
        place-items: center;
        place-content: center;

        //
        container-type: normal;
        contain: none;

        //
        gap: 0px;
        padding: 0px;
        margin: 0px;
        border: none 0px transparent;

        //
        inset: 0px;
        inset-inline-end: auto;
        inset-block-end: auto;
    }

    //
    :where(.space, flex-space) {
        flex-grow: 1;
        flex-shrink: 0;
    }

    //
    :where(.break, flex-break, br) {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
    }


    // extensions or externals fixes
    // still needs such hack for adguard...
    :where(html > div) {
        position: fixed;
        inset: 0px;
        inset-inline-end: auto;
        inset-block-start: auto;
        place-self: end start;
    }

};
