//
:root, :where(html) {
    container-type: size;
    container-name: html root;
}

//
:root, :host, :scope, :where(body) {
    will-change: --keyboard-inset-bottom, --keyboard-inset-height, inset;
    pointer-events: auto;

    //
    --keyboard-inset-bottom: calc(max(env(keyboard-inset-bottom, 0px), 0px) / max(var(--zoom, 1), 0.125));
    --keyboard-inset-height: calc(max(env(keyboard-inset-height, 0px), 0px) / max(var(--zoom, 1), 0.125));
}
