//
:root, :where(html) {
    container-type: size;
    container-name: html root;
}

//
:root, :host, :scope, :where(body) {
    will-change: --keyboard-inset-bottom, --keyboard-inset-height, inset;
    pointer-events: auto;

    //
    --keyboard-inset-bottom: calc(env(keyboard-inset-bottom, 0px) / var(--zoom, 1));
    --keyboard-inset-height: calc(env(keyboard-inset-height, 0px) / var(--zoom, 1));
}
