//
@mixin clamped-width ($min: 0px, $value: stretch, $max: none) {
    inline-size: #{$value};
    max-inline-size: #{$max};
    min-inline-size: #{$min};
}

//
@mixin clamped-height ($min: 0px, $value: stretch, $max: none) {
    block-size: #{$value};
    max-block-size: #{$max};
    min-block-size: #{$min};
}

//
@mixin hw-optimize() {
    //
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    //
    //-webkit-perspective: 1000px;
    //-moz-perspective: 1000px;
    //-ms-perspective: 1000px;
    //perspective: 1000px;

    //
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;

    /* Enable hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    //
    transform-origin: 50% 50%;

    /* Some filter hack */
    filter: grayscale(0%);

    //
    box-sizing: border-box;
    scrollbar-width: none;
    overflow: hidden;

    /* Disable transition by default */
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

//
@mixin disable-transform() {
    rotate: none;
    scale: none;
    translate: none;
    transform: none;

    //
    transform-origin: 50% 50%;
    backface-visibility: visible;

    //
    filter: none;
    backdrop-filter: none;

    //
    will-change: auto;
    perspective: none;

    //
    isolation: auto;

    //
    //contain: size style;
    //container-type: normal;
}

//
@mixin hide-scrollbars() {
    overflow: auto;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    //
    scrollbar-gutter: auto;
    scrollbar-color: transparent;

    //
    @supports (scrollbar-width: none) {
        scrollbar-gutter: stable both-edges;
        scrollbar-width: none;
        scrollbar-color: transparent;
    }

    /* work-around for chrome */
    &::-webkit-scrollbar {
        //
        -webkit-appearance: none;
        visibility: collapse;
        display: none;
        opacity: 0;

        //
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;

        //
        min-inline-size: 0px;
        min-block-size: 0px;

        //
        inline-size: 0px;
        block-size: 0px;

        //
        max-inline-size: 0px;
        max-block-size: 0px;

        //
        pointer-events: none;

        //
        position: fixed;
    }
}

//
@function pixel-perfect-translate($vx: unquote("var(--translate-x)"), $vy: unquote("var(--translate-y)"), $importance: null) {
    @return translate(
        #{unquote("round(nearest, calc(#{$vx} + 0.0001px), var(--ppx))")},
        #{unquote("round(nearest, calc(#{$vy} + 0.0001px), var(--ppx))")},
        0px
    );
}
