@property --zoom { syntax: "<number>"; initial-value: 1; inherits: true; };
@property --scaling { syntax: "<number>"; initial-value: 1; inherits: true; };

//
@property --zpx {
    syntax: "<length-percentage>";
    initial-value: 1px;
    inherits: true;
};

//
.__exp-use-zoom {
    --zoom: max(var(--scaling, 1), 0.125);
    --zpx: calc(1px / max(var(--zoom, 1), 0.125));
    --ppx: calc(1px / max(var(--pixel-ratio, 1), 0.125));
    font-size: 16px !important;
    zoom: max(var(--zoom, 1), 0.125);

    //
    & body { zoom: calc(1 / max(var(--zoom, 1), 0.125)); };
    & .app-container { zoom: max(var(--zoom, 1), 0.125); }
}

//
/*.__use_font-size {
    font-size: calc(16px * max(var(--scaling, 1), 0.125));
    zoom: max(var(--zoom, 1), 0.125);

    //
    --zoom: 1;
    --zpx: calc(1px / max(var(--zoom, 1), 0.125));
    --ppx: calc(1px / max(var(--pixel-ratio, 1), 0.125));

    //
    & body { zoom: 1; };
    & .app-container { zoom: max(var(--zoom, 1), 0.125); }
}
*/