
@use "../core/ClassLets";
@use "../design/ColorTheme";
@use "../core/Utils" as u;

//
@layer ux-inputs {
    :where(.ux-checkbox) {
        @extend .align-center;
        @extend .stretch;
        @extend .pe-enable;
    
        //
        @include u.clamped-width(max-content, 3.5rem, none);
        @include u.clamped-height(max-content, 2rem, 2.5rem);

        //
        container-type: size;
        contain: none;

        //
        display: flex;
        overflow: visible;
        position: relative;
        border-radius: 1.5rem;
        box-sizing: border-box;
        aspect-ratio: 1 / 1;

        //
        background-color: var(--current-surface-color);
        accent-color: var(--current-glyph-color);
        color: var(--current-glyph-color);
        
        //
        --thumb-size: 1.5rem;
        --space-size: 2rem;
        --value-mod: 0;
        
        //
        .icon-sign {
            @extend .align-center;
            @extend .pe-none;
            
            display: flex;

            //
            translate: calc(calc(var(--space-size) * 0.5) + calc(100cqi - var(--space-size)) * var(--value-mod) - 50%) calc(50cqb - 50%);
            transition: translate 100ms linear;
            
            //
            position: absolute;
            inset: 0px;
            //opacity: 0;
            padding: 0.25rem;
            border-radius: calc(var(--thumb-size) * 0.45);
            
            //
            inline-size: var(--thumb-size);
            block-size: var(--thumb-size);
            max-inline-size: var(--thumb-size);
            max-block-size: var(--thumb-size);
            
            //
            & > * {
                @extend .stretch;
                stroke-width: 0.25rem;
                position: relative;
                inset: 0px;
                translate: 0px 0px;
                stroke: var(--current-glyph-color);
            }
            
            
        }
        
        //
        input {
            @extend .stretch;
            @extend .pe-enable;
            
            //
            position: absolute;
            inset: 0px;
            opacity: 0;
            padding: 0px;
            cursor: pointer;
        }
        
        //
        &:has(input:not(.checked)) {
            @extend .ux-solid;
            --value-mod: 0;
            
            //
            .icon-sign > .done {
                display: none;
            }
            
            //
            .icon-sign > .circle {
                display: flex;
            }
            
            //
            .icon-sign, .icon-sign > * {
                @extend .ux-inverse;
                stroke: var(--current-glyph-color);
            }
        }
        
        //
        &:has(input:is(.checked)) {
            @extend .ux-inverse;
            --value-mod: 1;
            
            //
            .icon-sign > .done {
                display: flex;
            }
            
            //
            .icon-sign > .circle {
                display: none;
            }
            
            //
            .icon-sign, .icon-sign > * {
                @extend .ux-solid;
                stroke: var(--current-glyph-color);
            }
        }

        
    }

}
