@use "../core/ClassLets";
@use "../design/ColorTheme";
@use "../design/ColorVars" as cl;
@use "../design/ColorUtils" as cu;
@use "../core/Utils" as u;

//
@property --value-mod {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

//
@layer ux-inputs {
    :where(.ux-switch) {
        @extend .align-center;
        @extend .stretch;
        @extend .pe-enable;

        //
        --thumb-size: 1rem;
        --value-mod: 0;

        //
        container-type: size;
        contain: none;
        display: grid;
        
        //
        transition: --value-mod 100ms linear;
        
        //
        grid-template-columns: 
            [space-l] calc(var(--thumb-size) * 0.5) 
            [fillT] calc(100% * var(--value-mod) - var(--thumb-size) * 0.5) 
            [track] minmax(0px, 1fr) 
            [space-r] calc(var(--thumb-size) * 0.5);
        grid-template-rows: minmax(0px, 1fr);
        
        //
        overflow: visible;
        position: relative;
        border-radius: 0.25rem;
        box-sizing: border-box;
        aspect-ratio: 1 / 1;

        //
        @include u.clamped-width(max-content, 5rem, none);
        @include u.clamped-height(max-content, 1.5rem, 2.5rem);
        
        //
        background-color: var(--current-surface-color);
        accent-color: var(--current-glyph-color);
        color: var(--current-glyph-color);
        
        //
        .thumb {
            @extend .pe-none;
        }
        
        //
        .icon-sign {
            @extend .align-center;
            @extend .pe-none;
            
            //
            justify-self: start;
            grid-column: track;
            grid-row: 1 / 1 span;
            
            //
            translate: calc(0px - 50%) 0px;
            
            //
            display: flex;
            stroke: var(--current-glyph-color);

            //
            padding: 0.125rem;
            border-radius: calc(var(--thumb-size) * 0.45);
            //aspect-ratio: 1 / 1;
            
            //
            inline-size: var(--thumb-size);
            block-size: 110cqmin;
            max-inline-size: var(--thumb-size);
            max-block-size: 110cqmin;
            
            //
            & > * {
                @extend .stretch;
                stroke-width: 0.25rem;
                position: relative;
                inset: 0px;
                translate: 0px 0px;
                stroke: var(--current-glyph-color);
            }
        }
        
        //
        & .track {
            @extend .stretch;
            @extend .ux-inverse;
            @extend .pe-none;
            
            //
            grid-column: fillT;
            grid-row: 1 / 1 span;
            
            //
            border-radius: 0.25rem 0px 0px 0.25rem;
            
            //
            inset: 0px;
            transition: inline-size 100ms linear;
            
            //
            background-color: var(--current-surface-color);
            color: var(--current-glyph-color);
        }
        
        //
        input[type="range"]::-moz-range-thumb,
        input[type="range"]::-webkit-slider-thumb{
            -webkit-appearance: none;
            block-size: stretch;
            inline-size: var(--thumb-size);
            
            //
            touch-action: manipulation;
            -webkit-user-drag: auto;
            -moz-user-drag: auto;
            user-select: none;
        }

        //
        input {
            @extend .stretch;
            @extend .pe-enable;
            
            //
            padding: 0px;
            border: none 0px transparent;
            position: relative;
            //inset-inline: var(--thumb-size);
            
            //
            //touch-action: manipulation;
            //-webkit-user-drag: auto;
            //-moz-user-drag: auto;
            //user-select: none;
            
            //
            grid-column: 1 / 4 span;
            grid-row: 1 / 1 span;
            
            //
            opacity: 0;
            padding: 0px;
            cursor: pointer;
        }
    }

}
