// when houdini not supported, also do gaps (include edges)...
@layer ux-grid-layout {

    //
    @supports not (display: layout(grid-page)) {
        .ux-grid-layout {
            display: grid;

            //
            padding-inline: var(--c-gap);
            padding-block : var(--r-gap);
            column-gap: var(--c-gap);
            row-gap: var(--r-gap);

            // when houdini not supported...
            place-items: center;
            place-content: space-around;

            // when houdini not supported...
            @media (orientation: portrait) {
                grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
                grid-template-rows: repeat(var(--rows), minmax(0px, 1fr));
            }

            // when houdini not supported...
            @media (orientation: landscape) {
                grid-template-columns: repeat(var(--rows), minmax(0px, 1fr));
                grid-template-rows: repeat(var(--columns), minmax(0px, 1fr));
            }

            //:where(*) {
                // Controlled by JS
            //}

        }
    }

}