@use "../core/CMixins" as cm;
@use "../core/Logic" as lg;

//
@property --inline-offset-iv { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
@property --inline-offset-ni { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
@property --inline-offset    { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

//
@property --block-offset-iv { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
@property --block-offset-ni { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
@property --block-offset    { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

//
@property --ox-columns { syntax: "<integer>"; initial-value: 0; inherits: true; }
@property --ox-rows    { syntax: "<integer>"; initial-value: 0; inherits: true; }

//
@property --ox-orient { syntax: "<integer>"; initial-value: 0; inherits: true; }

//
@property --ox-column { syntax: "<number>"; initial-value: 0; inherits: true; }
@property --ox-row    { syntax: "<number>"; initial-value: 0; inherits: true; }

//
@property --ox-col-size { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
@property --ox-row-size { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

//
@layer ux-grid-layout {

    //
    @supports not (display: layout(grid-page)) {
        .ux-grid-layout {
            //
            display: block;
            position: relative;

            //
            --ox-orient: rem(var(--orient), 2);
            --ox-cs: #{lg.mix(var(--rows), var(--columns), var(--ox-orient))};
            --ox-rs: #{lg.mix(var(--columns), var(--rows), var(--ox-orient))};

            //
            & > :where(*) {
                will-change: inset, --ox-column, --ox-row, --grid-column, --grid-row, --translate-x, --translate-y;

                //
                --ox-c: calc(#{lg.mix(var(--grid-r), var(--grid-c), var(--ox-orient))} - 1);
                --ox-r: calc(#{lg.mix(var(--grid-c), var(--grid-r), var(--ox-orient))} - 1);

                //
                --ox-c-unit: calc(100cqi / var(--ox-cs));
                --ox-r-unit: calc(100cqb / var(--ox-rs));

                //
                --ox-c-loc: calc(var(--ox-c) * var(--ox-c-unit));
                --ox-r-loc: calc(var(--ox-r) * var(--ox-r-unit));

                //
                --inline-offset-ni: var(--ox-c-loc);
                --inline-offset-iv: calc(var(--ox-cs) - var(--ox-c-loc) - 1 * var(--ox-c-unit));
                --inline-offset: #{lg.mix(
                    var(--inline-offset-ni),
                    var(--inline-offset-iv),
                    lg.lor(lg.eq(var(--orient), 0), lg.eq(var(--orient), 1))
                )};

                //
                --block-offset-ni: var(--ox-r-loc);
                --block-offset-iv: calc(var(--ox-rs) - var(--ox-r-loc) - 1 * var(--ox-r-unit));
                --block-offset: #{lg.mix(
                    var(--block-offset-ni),
                    var(--block-offset-iv),
                    lg.lor(lg.eq(var(--orient), 0), lg.eq(var(--orient), 3))
                )};

                //
                position: absolute;

                //
                inset-inline-start: 0px;//calc(var(--inline-offset, 0px) + var(--ox-col-size) / 2);
                inset-block-start: 0px;//calc(var(--block-offset, 0px) + var(--ox-row-size) / 2);
                inset-inline-end: auto;
                inset-block-end: auto;

                //
                transform:
                    translate(
                        calc(var(--inline-offset) + 0.5 /* * var(--ox-c-span) */ * var(--ox-c-unit) - 50%),
                        calc(var(--block-offset ) + 0.5 /* * var(--ox-r-span) */ * var(--ox-r-unit) - 50%)
                    )
                    scale(var(--scale, 1));
            }
        }
    }

}
