@use "../core/CMixins" as cm;

//
//@use "./GridLayoutMod";
@use "./GridLayoutMetric";
@use "./GridLayoutNG";

//
@layer ux-grid-layout {
    .ux-grid-layout {//
        direction: ltr;

        //
        inline-size: 100%;
        block-size: 100%;

        // in rems!
        --c-gap: 0px;
        --r-gap: 0px;

        //
        pointer-events: none;
        background-color: transparent;

        //
        .ux-grid-item {
            inline-size: max-content;
            block-size: max-content;

            //
            pointer-events: none;
            touch-action: none;
            user-select: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            //
            overflow: visible;
        }

    }
}
