@use "../core/CMixins" as cm;

//
@use "./GridLayoutMetric";
@use "./GridLayoutMod";
@use "./GridLayoutHD";

//
@layer ux-grid-layout {
    .ux-grid-layout {//
        inline-size: 100%;
        block-size: 100%;

        // in rems!
        --c-gap: 0;
        --r-gap: 0;

        //
        pointer-events: none;
        background-color: transparent;

        //
        .ux-grid-item-label {
            @include cm.no-wrap;

            //
            --translate-x: 0px;
            --translate-y: 2.75rem;

            //
            pointer-events: none;
            display: inline-block;
            overflow: visible;

            //
            inline-size: max-content;
            block-size: max-content;

            //
            font-size: 0.8rem;
        }

        .ux-grid-item {
            overflow: hidden;
            pointer-events: none;
            touch-action: none;
            user-select: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            //
            max-inline-size: var(--icon-size);
            max-block-size: var(--icon-size);

            //
            aspect-ratio: 1 / 1;
            inline-size: var(--icon-size);
            block-size: var(--icon-size);
        }

    }
}
