
@use "../core/ClassLets";

//
@mixin virtualCell() {}

//
@mixin calculateMetric() {
    // CLAMPED GRID
    --f-col: clamp(4, var(--columns, 4), 6);
    --f-row: clamp(8, var(--rows, 8), 12);

    //
    --fc-cell-x: calc(clamp(0, var(--cell-x), calc(var(--f-col) - 1)) + 1);
    --fc-cell-y: calc(clamp(0, var(--cell-y), calc(var(--f-row) - 1)) + 1);

    //
    --fp-cell-x: calc(clamp(0, var(--p-cell-x), calc(var(--f-col) - 1)) + 1);
    --fp-cell-y: calc(clamp(0, var(--p-cell-y), calc(var(--f-row) - 1)) + 1);

    //
    --vect-x: calc(var(--fc-cell-x) - var(--fp-cell-x));
    --vect-y: calc(var(--fc-cell-y) - var(--fp-cell-y));
}

//
@layer ux-grid {

    //
    .ux-grid-pages {
        --padding-h: 1rem;
        --padding-v: 1.5rem;
        
        //
        overflow: visible !important;
        contain: content !important;
        
        //
        padding-inline: var(--padding-h);
        padding-block: var(--padding-v);
        
        //
        @media (orientation: portrait) {
            padding-inline: var(--padding-h);
            padding-block: var(--padding-v);
        }
        
        //
        @media (orientation: landscape) {
            padding-inline: var(--padding-v);
            padding-block: var(--padding-h);
        }
    }

    //
    .ux-grid-page {
        // in rems!
        --c-gap: 1;
        --r-gap: 1;

        //
        container-name: ux-grid;
        container-type: size;
        contain: size layout !important;

        // HOUDINI: if supported...
        display: grid;
        display: layout(grid-page);

        //
        overflow: visible !important;
        pointer-events: none;

        //
        background-color: transparent;
        filter: drop-shadow(0px 0px 0.25rem #00000060);

        // when houdini not supported, also do gaps (include edges)...
        padding-inline: calc(var(--c-gap) * 0.5rem);
        padding-block : calc(var(--r-gap) * 0.5rem);
        column-gap: calc(var(--c-gap) * 1rem);
        row-gap: calc(var(--r-gap) * 1rem);

        // when houdini not supported...
        place-items: center !important;
        place-content: space-around !important;
        
        // when houdini not supported...
        @media (orientation: portrait) {
            grid-template-columns: repeat(var(--columns), minmax(0px, 1fr));
            grid-template-rows: repeat(var(--rows), minmax(0px, 1fr));
        }
        
        // when houdini not supported...
        @media (orientation: landscape) {
            grid-template-columns: repeat(var(--rows), minmax(0px, 1fr));
            grid-template-rows: repeat(var(--columns), minmax(0px, 1fr));
        }
        
        //
        & > :where(*) {
            place-self: center !important;
        }
        
        //
        .ux-grid-item-label, .ux-grid-item {
            @include calculateMetric();
            --icon-size: min(calc(100cqmin / min(var(--columns), var(--rows)) - max(var(--c-gap), var(--r-gap)) * 1rem), 4rem);
            --grid-column: var(--fc-cell-x);
            --grid-row: var(--fc-cell-y);
        }

        //
        .ux-grid-item-label {
            @extend .no-wrap;

            //
            --translate-y: 2.5rem;

            //
            display: inline-block;
            inline-size: max-content;
            block-size: max-content;
            overflow: visible;

            //
            font-size: 0.8rem;
            transform: translate(var(--translate-x), var(--translate-y));

            //
            will-change: translate, transform, --rx, --ry, --drag-x, --drag-y, --resize-x, --resize-y;
        }
        
        //
        .ux-grid-item {
            @extend .stretch;
            
            //
            overflow: hidden;
            pointer-events: none;
            touch-action: none !important; 
            user-select: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            //
            transform: translate3d(var(--translate-x), var(--translate-y), 0px);
            will-change: translate, transform, --rx, --ry, --drag-x, --drag-y, --resize-x, --resize-y, --translate-x, --translate-y;
            
            //
            clip-path: var(--clip-path);
            padding: calc(var(--icon-size) * 0.3);
            border-radius: calc(var(--icon-size) * 0.5);

            //
            max-inline-size: var(--icon-size);
            max-block-size: var(--icon-size);
            
            //
            aspect-ratio: 1 / 1;
            inline-size: var(--icon-size);
            block-size: var(--icon-size);
            
            //
            &:where([data-type="labels"], [data-type="bucket"]) {
                pointer-events: none;
            }
            
            //
            &:where([data-type="backup"]) {
                // override by animations...
                --translate-x: calc(var(--drag-x, 0) * 1px);
                --translate-y: calc(var(--drag-y, 0) * 1px);

                // override by animations...
                --grid-column: var(--fp-cell-x);
                --grid-row: var(--fp-cell-y);
            }
            
            //
            &:where([data-type="items"]) {
                pointer-events: auto;
                pointer-events: bounding-box;
                cursor: pointer;
            }
        }
    }

}
