/*
 * Here is color manipulation functions...
 * Uses an entry values, and runtime variables...
 */

//
$upMod: var(--theme-up-mod);
$downMod: var(--theme-down-mod);
$chromaMod: var(--theme-chroma-mod);

//
@function theme-mod-up($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $upMod);
}

//
@function theme-mod-down($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $downMod);
}

//
@function theme-mod-chroma($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $chromaMod);
}

//
@mixin accent-mod($effect: 1) {
    & {
        --effect: $effect;
        --current-surface-color: #{cu.theme-mod-down(var(--theme-surface-color), calc(1% * var(--effect, 1)))};
    }
}

//
@mixin var-dependent($var: var(--theme-is-dark), $importance: null) {
    & {
        --theme-up-mod: color-mix(in oklch, var(--theme-dark-up-mod) calc(100% * #{$var}), var(--theme-light-up-mod)) #{$importance};
        --theme-down-mod: color-mix(in oklch, var(--theme-dark-down-mod) calc(100% * #{$var}), var(--theme-light-down-mod)) #{$importance};
        //--theme-accent-base-color: color-mix(in oklch, var(--theme-accent-light) calc(100% * #{$var}), var(--theme-accent-dark)) #{$importance};
    }
}

//
@mixin scheme-dependent {
    & {
        --theme-up-mod: light-dark(var(--theme-dark-up-mod), var(--theme-light-up-mod));
        --theme-down-mod: light-dark(var(--theme-dark-down-mod), var(--theme-light-down-mod));
        //--theme-accent-base-color: light-dark(var(--theme-accent-light), var(--theme-accent-dark));
    }
}
