@use "./ColorUtils" as cu;

//
$baseColor: var(--theme-base-color);
$surfaceColor: cu.theme-mod-up(#{$baseColor}, 96%);
$glyphColor: cu.theme-mod-down(#{$baseColor}, 98%);
$accentColor: cu.theme-mod-down(#{$baseColor}, 92%);
$chromaColor: cu.theme-mod-chroma(#{$baseColor}, 80%);
