@use '@sass-fairy/list';
@use "sass:math";

// if you don't want to use deps...
@function join($list, $glue: '', $is-nested: false) {
    $result: null;
    @for $i from 1 through length($list) {
        $e: nth($list, $i);
        @if type-of($e) == list {
            $result: $result#{join($e, $glue, true)};
        } @else {
            $result: if(
                $i != length($list) or $is-nested,
                $result#{$e}#{$glue},
                $result#{$e}
            );
        }
    }
    @return $result;
};

// F(X):[x,y] where X:[0..1]
@function WavyFx($step: 0) {
    $angle: calc(($step * 2) * 1rad * #{"pi"});
    $variant: calc(cos(var(--clip-freq) * #{$angle}) * 0.5 + 0.5);
    $adjust: calc($variant * var(--clip-amplitude));
    $x: calc((0.5 + (cos(#{$angle}) * (0.5 - #{$adjust}))) * 100%);
    $y: calc((0.5 + (sin(#{$angle}) * (0.5 - #{$adjust}))) * 100%);
    @return "#{$x} #{$y}";
}

// space cadet or cheater-tale
@function Integrate($name, $steps: 100) {
    $fx: get-function($name);
    $points: ();
    @for $i from 1 through $steps {
        $points: append($points, call($fx, math.div($i, $steps)));
    }
    @return polygon(#{list.join($points, ", ")});
}

//
:where(.wavy-shaped) {
    --clip-amplitude: 0.06;
    --clip-freq: 8;
    --clip-path: #{Integrate("WavyFx", 100)};
    clip-path: var(--clip-path);
    border-radius: calc(var(--icon-size, 100%) * 0.5);
}

//
:where(.tear-shaped) {
    border-radius: calc(var(--icon-size, 100%) * 0.5);
    border-end-end-radius: calc(var(--icon-size, 100%) * 0.125);
}

//
:where(.circle-shaped) {
    border-radius: calc(var(--icon-size, 100%) * 0.5);
}

//
:where(.square-shaped) {
    border-radius: calc(var(--icon-size, 100%) * 0.25);
}
