@use "../design/ColorVars" as cl;
@use "../design/ColorUtils" as cu;

//
@use "../core/Utils" as u;
@use "../core/ClassLets";
@use "../design/ColorTheme";

//
@use "../core/Detector" as d;

//
@layer ux-app-frame {
    
    .ux-status-bar {
        @extend .stretch;
        @extend .pe-none;
    
        //
        display: grid;
        z-index: 99999;
    
        //
        grid-template-columns: 
            minmax(0px, max-content)
            minmax(0px, 1fr)
            minmax(0px, max-content);
        grid-template-rows: minmax(0px, 1fr);
        
        //
        justify-content: space-between;
        justify-items: stretch;
        
        //
        align-content: center;
        align-items: stretch;
        
        //
        position: fixed;
        
        //
        inset: auto;
        inset-block-end: 0px;
        block-size: 2rem;
        padding-inline: 1rem;
        
        //
        & > * {
            @extend .stretch;
            display: flex;
            place-items: center;
            place-content: center;
        }
        
        //
        .left   { grid-column: 1 / 1 span; grid-row: 1 / 1 span; justify-self: start; gap: 0rem; }
        .center { grid-column: 2 / 2 span; grid-row: 2 / 2 span; justify-self: center; }
        .right  { grid-column: 3 / 3 span; grid-row: 3 / 3 span; justify-self: end; gap: 0rem; }
        
        //
        .left, .right {
            inline-size: max-content;
        }
        
        //
        .icon-wrap {
            @extend .stretch;
            display: flex;
            place-items: center;
            place-content: center;
            
            //
            aspect-ratio: 1 / 1;
            
            //
            padding: 0.5rem;
            box-sizing: border-box;
        }
        
        .time {
            display: inline-block;
            inline-size: max-content;
            block-size: max-content;
        }
        
        //
        @media #{d.$isMobile} 
        {
            inset: auto;
            inset-block-start: 0px;
        }
    }
    
    
}
