@use "../design/ColorVars" as cl;
@use "../design/ColorUtils" as cu;

//
@use "../core/Utils" as u;
@use "../core/ClassLets";
@use "../design/ColorTheme";

//
@use "../core/Detector" as d;

//
@mixin whenMobile {
    //
    --padding: 0rem;
    --padding-top: max(env(safe-area-inset-top, 0px), 2rem);

    //
    grid-template-rows: 
        [content-b] minmax(0px, 1fr)
        [titlebar] minmax(3rem, max-content);

    //
    padding-block-end: 0px !important;

    //
    & .titlebar {
        & > :where(.back-button, .menu-button) {
            border-radius: 0.125rem;
        }
    }
}

//
@layer ux-taskbar {
    
    //
    .ux-taskbar {
        //
        @extend .contain-size;
        @extend .align-center;
        @extend .stretch !optional;
        @extend .ux-solid-transparent;
        @extend .pe-none;

        //
        --rx: 0px;
        --ry: 0px;

        //
        //--translate-x: clamp(0px, calc(calc(50cqi - 50%) + var(--rx, 0px)), calc(100cqi - 100%));
        //--translate-y: clamp(0px, calc(calc(50cqb - 50%) + var(--ry, 0px)), calc(100cqb - 100%));
        
        //
        --translate-x: 0px;//clamp(0px, var(--rx, 0px), calc(100cqi - 100%));
        --translate-y: 0px;//clamp(0px, var(--ry, 0px), calc(100cqb - 100%));
        
        //
        --padding: 0rem;
        --padding-top: 0rem;
        --padding-left: calc(var(--padding) + env(safe-area-inset-left, 0px));
        --padding-right: calc(var(--padding) + env(safe-area-inset-right, 0px));

        //
        outline: solid 0.25px oklch(from var(--current-glyph-color) l c h / 0.0);
        transition: outline-color 200ms;

        //
        translate: var(--translate-x) var(--translate-y) 0px;
        will-change: translate, transform, inline-size, block-size, contents, --rx, --ry, --drag-x, --drag-y, --resize-x, --resize-y, --translate-x, --translate-y;
        overflow: hidden !important;
        
        //
        position: fixed;
    
        //
        inset: 0px;
        z-index: 99999;
        display: grid;
        contain: content;
        container-type: size;
        container-name: ux-taskbar;
        box-sizing: border-box;

        //
        font-size: 0.9rem;

        //
        grid-template-columns: 
            [menu-button] minmax(3rem, max-content)
            [title-label] minmax(0px, 1fr)
            [back-button] minmax(3rem, max-content);
    
        //
        grid-template-rows: 
            [titlebar] minmax(3rem, max-content) 
            [content-b] minmax(0px, 1fr);

        //
        padding-block-start: var(--padding-top) !important;
        //padding-block-end: max(env(safe-area-inset-bottom, 0px), 2rem) !important;

        //
        &:hover {
            outline: solid 0.5px oklch(from var(--current-glyph-color) l c h / 0.125);
        }
        
        //
        &:not(:has(.ux-app-frame)) {
            display: none !important;
        }
        
        //
        & > .titlebar {
            @extend .align-center;
            @extend .stretch;
            @extend .pe-enable;
            @extend .no-wrap;
            
            //
            grid-row: titlebar;
            grid-column: 1 / 3 span;
            grid-template-columns: subgrid;
            grid-template-rows: minmax(0px, 1fr);
            
            //
            gap: 0px;
            
            //
            box-sizing: border-box;
            block-size: calc(3rem + var(--padding));
            
            //
            border-block-end: solid 1px var(--current-surface-color);
            
            //
            align-items: end;

            //grid-column: 1 / 2;
            grid-row: titlebar;
            min-block-size: max-content;
            
            //
            display: grid;
            
            //
            padding-block: var(--padding, 0px);
            padding-inline: max(var(--padding-left), var(--padding)) max(var(--padding-right), var(--padding));

            //
            & > .ux-title-handle {
                @extend .stretch;
                @extend .align-center;
                @extend .align-inline-left;
                @extend .no-wrap;
                @extend .ux-solid;
    
                //
                display: flex;
                grid-column: title-label;
                grid-row: 1 / 1 span;
    
                //
                flex-direction: row;
                padding: 0rem;
                min-inline-size: max-content;
                
                //
                font-weight: 600;
                font-size: 1rem;
            }

            //
            & > * {
                @extend .align-center;
                @extend .stretch;
                
                //
                padding: 1rem;
                display: flex;
                grid-row: 1 / 1 span;
            }
            
            //
            & > :where(.back-button, .menu-button) {
                padding: 0.75rem;
                cursor: pointer;
                
                //
                max-inline-size: 3rem;
                max-block-size: 3rem;
            }
            
            //
            box-shadow: 0px 0px 1rem 1px #00000070;
            
            
            //
            .ux-task-box {
                @extend .align-center;
                @extend .stretch;
                @extend .pe-enable;
                
                //
                cursor: pointer;
                
                //
                display: grid;
                max-inline-size: 8rem;
                position: relative;
                box-sizing: border-box;
                
                //
                grid-template-columns: minmax(0px, 3rem) minmax(max-content, 1fr);
                grid-template-rows: minmax(0px, 1fr) minmax(0px, 0.25rem);
                
                //
                .ux-task-label, .ux-task-icon {
                    grid-row: 1 / 2 span;
                }
                
                //
                .ux-task-icon {
                    grid-column: 1 / 1 span;
                }
                
                //
                .ux-task-label {
                    grid-column: 2 / 2 span;
                    justify-self: start;
                }
                
                //
                &::after {
                    @extend .stretch;
                    @extend .pe-none;
                
                    //
                    --theme-surface-color: #{cl.$baseColor};
                    --theme-glyph-color: oklch(from #{cl.$baseColor} calc(sign(calc(0.5 - l)) * 0.5 + 0.5) calc(c * 0.01) h);
                    
                    //
                    padding: 0px;
                    margin: 0px;
                    line-height: 0px;
                    
                    //
                    background-color: var(--theme-surface-color);
                    grid-row: 2 / 2 span;
                    grid-column: 1 / 2 span;
                    
                    //
                    box-sizing: border-box;
                    content: "";
                    display: block;
                    
                    //position: absolute;
                    //inset: 0px;
                    //inset-block-start: auto;
                    //inset-block-end: 0px;
                }
            }
        }
        
        //
        @container ux-taskbar #{d.$isNotWide} { @include whenMobile; }
        @media #{d.$isMobile} { @include whenMobile; }
        @media #{d.$isDesktop} {
            --padding-top: 0px;
        }
    }
}
